<%= form_with model: [:admin, @item] do |f| %>
　<table class="table table-borderless pl-5">
    <tr>
      <td>商品画像</td>
      <td><%= f.file_field :image, accept: "image/*", class: "w-100" %></td>
    </tr>
    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name, placeholder:"商品名", size: "30" %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= f.text_area :introduction, placeholder:"ここに説明文を記述します", class: "pb-5", size: "30" %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--　　　　　　" %></td>
    </tr>
    <tr>
      <td>税抜価格</td>
      <td><%= f.text_field :price, placeholder:"1000", size: "30" %>円</td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <td>
        <%= f.radio_button :is_active, true %>
        <%= f.label :status_true, "販売中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :status_false, "販売停止中" %>
      </td>
    </tr>
    <tr>
      <td align="center">
        <% if f.object.new_record? %>
          <td><%= f.submit '新規登録', class:"btn btn-success btn-lg" %></td>
        <% else %>
          <td><%= f.submit '変更を保存', class:"btn btn-success btn-lg" %></td>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
