<div class='container'>
  <h5 class="col-md-5 mb-5 mt-1 offset-1">
    <span class="py-2 px-4 bg-ligh alert-secondary">商品新規登録</span>
  </h5>
    <div class='row'>
      <div class="col-10 offset-2">
        　<%= form_with model: [:admin, @item] do |f| %>
        　<table class="table table-borderless pl-5">
            <tr>
              <td>商品画像</td>
              <td><%= f.file_field :image, accept: "image/*", class: "w-100" %></td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name, placeholder:"商品名" %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :introduction, placeholder:"ここに説明文を記述します" %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
            </tr>
            <tr>
              <td>税抜価格</td>
              <td><%= f.text_field :price, placeholder:"1000" %>円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
                <%= f.radio_button :is_active, true %>
                <%= f.label :販売中%>
                <%= f.radio_button :is_active, false %>
                <%= f.label :販売停止中 %>
              </td>
            </tr>
            <tr>
              <td align="center">
                <td><%= f.submit '新規登録', class:"btn btn-success btn-lg" %></td>
              </td>
            </tr>
          </table>
          <% end %>
      </div>
    </div>
</div>