<div class='container'>
  <h5 class="col-7 my-5">管理者ログイン</h5>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="form-group row ml-5">
            <%= f.label :"メールアドレス" , class: "col-sm-3 control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "col-sm-4 form-control-static" %>
          </div>

          <div class="form-group row ml-5">
            <%= f.label :"パスワード", class: "col-sm-3 control-label" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-4 form-control-static" %>
          </div>

          <div class="actions col-8 text-center">
            <%= f.submit "ログイン", class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
   <%= render "admin/shared/links" %>

  </div>