<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <div class="card" style="background-size: cover;" >
        <img class="card-img " src="/assets/top.jpeg" alt="">
        <div class="card-img-overlay">
          <h5 >
            ようこそ、ながのケーキへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col ">
      <h3><strong>新着商品</strong></h3>
      <% @items_new.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(250,150) %>
        <% end %><br>
      <h6><%= item.item_name %></h6>
      <h6><%= item.add_tax_price.to_s(:delimited) %></h6>
      <% end %>
    </div>
  </div>

  <div class="text-right">
    <%= link_to "全ての商品を見る>", items_path, class:"btn btn-outline-danger btn-sm text-right" %>
  </div>

</div>










