<div class="container">
    <h5 class="col-md-7 mb-5 mt-3">
      <span class="px-3 ml-5 bg-ligh alert-secondary">配送先登録/一覧</span>
    </h5>

      <!-配達先登録フォーム->
      <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
        <div class="row">
          <div class="col-3 mt-3">
            <%= f.label :post_code, "郵便番号(ハイフンなし)" %>
          </div>
          <div class="col-3">
            <%= f.text_field :post_code, placeholder: "0000000", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-3 mt-3">
            <%= f.label :address, "住所" %>
          </div>
          <div class="col-5">
            <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-3 mt-3">
            <%= f.label :name, "宛名" %>
          </div>
          <div class="col-3">
            <%= f.text_field :name, placeholder: "令和道子", class: "form-control" %>
          </div>
          <div class="col-1 px-5 ml-5">
            <%= f.submit "新規登録", class: "btn btn-success px-5 ml-5", style: "font-weight: bold;" %>
          </div>
        </div>
      <% end %>

      <!-配送先登録一覧->
      <div class='row'>
        <div class='col-md-8'>
          <table class="table table-bordered mt-5">
            <thead class="bg-light">
              <tr>
                <th style="width:100px;">郵便番号</th>
                <th style="width:300px;">住所</th>
                <th style="width:100px;">宛名</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
            <% @deliveries.each do |delivery| %>
              <tr>
                <td><%= delivery.post_code %></td>
                <td><%= delivery.address %></td>
                <td><%= delivery.name %></td>
                <td class="text-center">
                  <%= link_to "編集する", edit_delivery_path(delivery), class: "btn btn-success mr-1", style: "font-weight: bold;" %>
                  <%= link_to "削除する", delivery_path(delivery), method: :delete, class: "btn btn-danger ml-1", style: "font-weight: bold;" %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
</div>