<div class="container">
  <div class="row">
    
    <div class="col-lg-2 pt-3">
    <!-- ジャンル選択のサイドバー -->
    <%= render "public/items/genre", genres: @genres %>
    </div>
  
    <div class="p-3 col-9 pl-5">
      <div class="d-flex align-items-end">
        <h2><%= Genre.find(params[:id]).name %>一覧</h2>
        <h6>（全 <%= @items.length %> 件）</h6>
      </div>
      <div class="col-10">
          <div class="mt-2">
          　<div class="d-flex flex-wrap item-link mb-5">
              <% @items.each do |item| %>
                <%= link_to item_path(item), class: "text-dark" do %>
                  <div class="m-1 p-1">
                    <%= image_tag item.get_image, size:"200x150" %>
                    <p class="mt-3 mb-1"><strong><%= item.name %></strong></p>
                    <!=販売停止中の商品は売切表示=>
                    <% if item.is_active == true %>
                      <p class="mt-3 mb-1">￥<%= item.add_tax_price.to_s(:delimited) %>(税込)</p>
                    <% else %>
                      <p class="mt-3 mb-1 text-danger" ><strong>売切</strong></p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>  
      <%= paginate @items.page(params[:page]) %>
    </div>
  </div>
</div>