<h1>マイページ</h1>
<h4>登録情報</h4>
<%= link_to "編集する", edit_customer_registration_path %>

<table>
  <t.body>
    <tr>
      <th>氏名</th>
      <th><%= @customer.last_name %><%= @customer.first_name %></th>
    </tr>
    <tr>
      <th>カナ</th>
      <th><%= @customer.last_neme_kana %><%= @customer.first_name.kana %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.post_code %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.telephone_number %></th>
    </tr>
    
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
  </t.body>
</table>

<h4>配送先</h4>
<