<div class="container">
  <div class="row"><h3 class ="alart alert-secondary text-dark">注文確認画面</h3></div>
  <div class="row">
    <div class="col-7 px-8 mt-3">
      <p><strong>注文情報</strong></p>
      <table class="table table-bordered">
        <tr><th class="table-active col-3">注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
        <tr><th class = "table-active d-flex align-items-center" style="height:98px;"><strong>配送先</strong></th><td>〒<%= @order.postcode %></br>
                <%= @order.address %></br>
                <%= @order.name %></td>
        </tr>
        <tr><th class="table-active">支払方法</th>
             <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="table-active">ステータス</th>
            <td><%= @order.status_i18n %></td>
          </tr>

      </table>
    </div>
    <div class="col-3 px-3 mt-3">
      <p><strong>請求情報</strong></p>
      <table class="table table-bordered">
        <tr><th class="table-active">送料</th><td>800</td></tr>
        <tr><th class="table-active">商品合計</th><td><%= @order.total_price.to_s(:delimited) %></td></tr>
        <tr><th class="table-active">請求合計</th><td><%= (@order.total_price + @shipping_cost).to_s(:delimited) %></td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-8">
      <p><strong>注文内容</strong></p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-active" style="width:60%">商品</th>
            <th class="table-active" style="width:20%">単価（税込）</th>
            <th class="table-active" style="width:10%">個数</th>
            <th class="table-active" style="width:10%">小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td style="word-break:break-all"><%= order_item.item.name %></td>
            <td><%= order_item.price.to_s(:delimited) %></td>
            <td><%= order_item.amount %></td>
            <td><%= (order_item.amount * order_item.price).to_s(:delimited) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>