
<h1>注文詳細画面</h1>

<h5>注文情報</h5>

<table>
  <tr>
      <td>注文日</td>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>

  <tr>
      <td>配送先</td>
      <td>
          <%= '〒' + order.postcode %><br>
          <%= order.address %><br>
          <%= order.name %>
      </td>
  </tr>

  <tr>
      <td>支払方法</td>
      <td><%= order.payment_method_i18n %></td>
  </tr>

  <tr>
      <td>ステータス</td>
      <td><%= order.status_i18n %></td>
  </tr>
  </table>


<h5>請求情報</h5>

<table>
    <tr>
        <td>商品合計</td>
        <td><%= order.total_price %></td>
    </tr>

    <tr>
        <td>配送料</td>
        <td>@shipping_cost</td>
    </tr>

    <tr>
        <td>ご請求額</td>
        <td><%=  @shipping_cost.to_i + total_price.to_i %></td>
    </tr>
</table>


<h5>注文内容</h5>

<table>
    <thead>
        <tr class="table-secondary">
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th>
                <% order.order_items.each do |order_item| %>
                    <%= order_item.item.name %>
                <% end %>
            </th>
            
            <th>
                <%= order.item.price.add_tax_price.to_s(:delimited) %>
            </th>
            
            <th>
                <%= order.item.amount %>
            </th>
            
            <th>
                <%= 'order.item.price.add_tax_price.to_s(:delimited)' + 'order.item.amount' %>
            </th>
        </tr>
    </tbody>
            
</table>