<div class="container">
  <div class="row">
    <div class="col-2">
      <!-ジャンル一覧表示->
      <%= render 'genre', genres: @genres %>
    </div>

    <div class="col-10">
      <div class="row">
        <div class="col-5">
          <%= image_tag @item.get_image, size:"350x250" %>
        </div>
        <div class="col-7">
          <h3 class="pb-3"><strong><%= @item.name %></strong></h3>
          <h4 class="mt-3 pb-3"><%= @item.introduction %></h4>
          <h4 class="mt-5 pb-3"><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong><span class="small">(税込)</h4>
          <div class="mt-5">
            <!=販売停止中の商品は売切表示=>
            <% if @item.is_active == true %>
              <!-注文数選択フォーム->
              <%= form_with model:@cart_item, method: :post do |f| %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.select :amount, *[1..10], { include_blank: "個数選択" } %>
                <%= f.submit "カートに入れる", class:"ml-5 mr-5 btn btn-success" %>
              <% end %>
            <% else %>
              <h4 class="mt-3 mb-1 text-danger" ><strong>売切</strong></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>